<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>815213991842-inhtaf8kfanm1ostfd5ghc3ig1bugagd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815213991842-inhtaf8kfanm1ostfd5ghc3ig1bugagd</string>
	<key>API_KEY</key>
	<string>AIzaSyDvP6VWUkcfwf22RcqF1xEQ5CHf_cxPwJA</string>
	<key>GCM_SENDER_ID</key>
	<string>815213991842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.touhidapps.consultapp</string>
	<key>PROJECT_ID</key>
	<string>consultapp-3122e</string>
	<key>STORAGE_BUCKET</key>
	<string>consultapp-3122e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815213991842:ios:bb15f74a5150278e</string>
	<key>DATABASE_URL</key>
	<string>https://consultapp-3122e.firebaseio.com</string>
</dict>
</plist>